@model KnivesShop.Web.Areas.Administration.Models.ArticlesDetailViewModel

@{
    ViewBag.Title = "Details";
}
<section class="full-height-width scrolable">
    <h2>Details</h2>

    <div>
        <h4>Article</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NameBg)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameBg)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NameEn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameEn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescriptionBg)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DescriptionBg)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescriptionEn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DescriptionEn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                <img src="@Url.Content(Model.Image)" alt="@Model.NameEn" class="image-edit" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsSelectedForTopArticle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsSelectedForTopArticle)
            </dd>

        </dl>
    </div>
    <p>
        @{
            string backUrl = "/Administration/ArticlesAdmin/Index" + Request.Url.Query ;
            string editUrl = "/Administration/ArticlesAdmin/Edit" + Request.Url.Query + "&id=" + Model.Id;
        }
        <a href="@backUrl" class="btn btn-default">Back to List</a> | 
        <a href="@editUrl" class="btn btn-primary">Edit</a>
    </p>
</section>